/* SecondHomepage.css */
body {
    font-family: 'Rowdies', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a; /* Dark background color */
    color: #fff; /* White text color */
  }
  
  /* Navigation Bar Styles */
  nav {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  nav li {
    cursor: pointer;
  }
  
  /* First Division - Headlines and News Cards Styles */
  .headlines-section {
    text-align: center;
    padding: 2em; /* Increased padding for more space */
    background-color: #111; /* Set your desired background color */
    color: #fff; /* Set your desired text color */
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align content to the left */
  }
  
  .headlines-section h1 {
    font-size: 4em;
    margin-bottom: 0.2em;
    margin-left: 0.2.8em; /* Adjust as needed to move it to the left */
  }
  
  .news-cards {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling for cards */
    margin-top: 1em; /* Add some top margin */
  }
  
  .news-card {
    flex: 0 0 auto;
    width: 300px; /* Adjust the card width as needed */
    margin-right: 1em; /* Add some right margin between cards */
    background-color: #333; /* Set your desired card background color */
    color: #fff; /* Set your desired card text color */
    padding: 1em;
    border-radius: 10px; /* Add rounded corners to the cards */
  }
  
  
  /* Second Division - Recent Rides Styles */
  .recent-rides-section {
    text-align: center;
    padding: 6em;
    background-color: #111;
  }
  
  .recent-rides-section h1 {
    font-size: 3em;
    margin-bottom: 1em;
    margin-left: 0.2.8em;
  }
  
  .ride-cards {
    display: flex;
    overflow-x: auto; /* Allow horizontal scrolling for cards */
    margin-top: 1em; /* Add some top margin */
  }
  
  .ride-card {
    flex: 0 0 auto;
    width: 300px; /* Adjust the card width as needed */
    margin-right: 1em; /* Add some right margin between cards */
    background-color: #333; /* Set your desired card background color */
    color: #fff; /* Set your desired card text color */
    padding: 1em;
    border-radius: 10px; /* Add rounded corners to the cards */
  }
  
  .ride-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 0.5em;
  }
  
  .ride-card p {
    font-size: 1em;
  }
  
  /* Footer Styles */
  .footer {
    text-align: center;
    padding: 1em;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  